/* 
    Created on : 09.11.2015, 19:34:32
    Author     : eps1lon
*/

body {
    background: #000;
    color: #a38d6d;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#Item, #ModGenerator {
    float: left;
}

#ModGenerator {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 2px dashed #ff7;
}

#available_mods {
    clear: both;
}

.correct_group, #implicits caption {
    cursor: pointer;
}

#implicits tbody {
    display: none;
}

th.correct_group {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

#available_mods {
    overflow: hidden;
}

#available_mods #prefixes, #available_mods #suffixes {
    float: left;
}

.template {
    display: none;
}

.mods .stats {
    white-space: pre;
}

#available_mods tbody td {
    vertical-align: top;
}

.not_rollable {
    text-decoration: line-through;
}

#legends {
    display: none;
}

.applicable[title]:not([title=""]) {
    cursor: help;
}

.applicable[data-applicable_byte]:not([data-applicable_byte=""]) {
}

.applicable[data-applicable_byte^="256"] {
}

#ModGenerator .applicable[data-applicable_byte]:not([data-applicable_byte=""]) {
    
}

#ModGenerator .applicable[data-applicable_byte]:not([data-applicable_byte=""]) * {
    opacity: .4;
}

.itembox input.ilvl {
    width: 3em;
}

.itembox ul {
    list-style: none;
    padding: 0;
}

.itembox ul.stats {
    display: block;
}

.remove_mod {
    display: inline-block;
}

.mod-type-implicit .remove_mod {
    display: none;
}


/* colors */

.augmented-value, .mod .stats  {
    color: #8888ff;
}

.crafted-mod, .mod.MasterMod .stats, .mod.EnchantMod .stats{
    color: #B8DAF2;
}

/* ModGenerators */
label[for="mod_generator_showcase"] {
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 1em;
}

ul.currencies {
    list-style: none;
    padding: 0px;
}

ul.currencies li {
    display: inline-block;
}

ul.currencies li * {
    display: block;
}

ul.currencies li input {
    display: block;
    margin: 0px auto;
}

ul.currencies img {
    width: 48px;
    height: 48px;
}

ul.masterbenches {
    list-style: none;
    padding: 0px;
}

fieldset.masterbenches {
    margin-bottom: 2em;
}

#craftingbenchoptions {
    display: block;
}

/* DataDependency */
#data_loader {
    padding: 0;
    list-style: none;
}

.loading_indicator {
    display: inline-block;
}

.loading_indicator[data-loading-state="1"]:after {
    content: ":loading";
}

.loading_indicator[data-loading-state="2"]:after {
    content: ":loaded";
}

.loading_indicator[data-loading-state="3"]:after {
    content: ":fail";
}