/* 
    Created on : 09.11.2015, 19:34:32
    Author     : eps1lon
*/
html {
    height: 100%;
}

body {
    background: #000;
    color: #a38d6d;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    border-bottom: 2px solid #7f7f7f;
}

h1 {
    font-size: 2em;
    margin: .66em 0;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

#content {
    position: relative;
}

#Item {
    position: absolute;
    width: 400px;
    margin-left: 5px;
}

#Item h2 {
    margin-top: 0px;
}

#right_side {
    position: relative;
    left: 410px;
    right: 0px;
    border-left: 2px dashed #ff7;
    padding-left: 10px;
    max-width: 1200px;
}

#ModGenerator {
    max-width: 508px;
}

#available_mods {
    overflow: hidden;
}

footer {
    margin-top: 5px;
    text-align: right;
}

.correct_group, #implicits caption {
    cursor: pointer;
}

#item_classes, label[for="item_classes"] {
    display: none;
}

#Item h2 {
    display: none;
}

#Item h3 {
    margin: 1px 4px;
}

ul.item_class_group {
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0px;
    list-style: none;
}

.item_class_group a {
    display: inline-block;
    margin: 3px 6px;
    text-transform: uppercase;
}

.item_class_group li.jewels:after {
    content: 'Jewel';
    text-transform: uppercase;
}

.sub_tag_selector {
    display: none;
}

.sub_tag_selector li {
    text-transform: uppercase;
}

#implicits tbody {
    display: none;
}

th.correct_group {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

.template {
    display: none !important;
}

#affixes {
    width: 100%;
}

#prefixes, #suffixes {
    width: 49%;
    display: table-cell;
    vertical-align: top;
}

#prefixes {
    border-right: 1px solid white;
}

#suffixes {
    border-left: 1px solid white;
}

table.mods caption {
    font-size: 1.2em;
}

.mods .stats {
    white-space: pre-line;
}

button.add_mod, button.remove_mode {
    padding: 1px 0;
}

#available_mods tbody td {
    vertical-align: top;
}

.not_rollable {
    text-decoration: line-through;
}

#legends {
    display: none;
}

.applicable[title]:not([title=""]) {
    cursor: help;
}

.applicable[data-applicable_byte]:not([data-applicable_byte=""]) {
}

.applicable[data-applicable_byte^="256"] {
}

#ModGenerator .applicable[data-applicable_byte]:not([data-applicable_byte=""]) {
    
}

#ModGenerator .applicable[data-applicable_byte]:not([data-applicable_byte=""]) * {
    opacity: .4;
}

#ModGenerator .applicable.selected {
    background-color: rgb(25,216,115);
    color: #000;
}

.itembox input.ilvl {
    width: 3em;
}

.remove_mod {
    display: inline-block;
}

.implicits .remove_mod {
    display: none !important;
}


/* colors */

.augmented-value, .mod .stats  {
    color: #8888ff;
}

.crafted-mod, .mod.MasterMod .stats, .mod.enchantment .stats{
    color: #B8DAF2;
}

/* ModGenerators */
label[for="mod_generator_showcase"] {
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 1em;
}

ul.currencies {
    list-style: none;
    padding: 0px;
}

ul.currencies li, ul.masterbenches li {
    display: inline-block;
}

ul.currencies li * {
    display: block;
}

ul.currencies li input {
    display: block;
    margin: 0px auto;
}

ul.currencies img {
    width: 48px;
    height: 48px;
}

ul.masterbenches {
    list-style: none;
    padding: 0px;
}

#craftingbenchoptions {
    display: block;
}

/* DataDependency */
#data_loader {
    margin: 1em 0 1em 5px;
    padding: 0;
    list-style: none;
    display: none;
}

.loading_indicator {
    display: inline-block;
}

.loading_indicator:after {
    position: relative;
    
    top: 4px;
    margin-right: 5px;
}

.loading_indicator[data-loading-state="1"]:after {
    content: url(icons/loading.png);
}

.loading_indicator[data-loading-state="2"]:after {
    content: url(icons/complete.png);
}

.loading_indicator[data-loading-state="3"]:after {
    content: url(icons/fail.png);
}

#use_mod_gen {
    display: block;
}

#use_mod_gen[data-applicable="false"] {
    background-color: #f00;
    text-decoration: line-through;
}

#ModGenerator span.Itemshowcase + a {
    margin-left: 1em;
}

#ModGenerator fieldset {
    position: relative;
    display: none;
}

#ModGenerator fieldset a.close_fieldset {
    display: block;
    width: 26px;
    height: 33px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(icons/close.png) bottom left no-repeat;
}

a {
    color: #A38B63;
    cursor: pointer;
}

a:hover {
    color: #fff;
}