/* 
    Created on : 17.11.2015, 09:41:53
    Author     : eps1lon
*/
.itembox {
    background: url(icons/GGG/hover_background.png);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    color: #7f7f7f;

    position: relative;
}

.itemboxheader {
    font-size: 19px;
    display: block;

}

.itemboxheader {
    height: 33px;
}

.itemboxheader.double-line {
    height: 53px;
}

.itemboxheader span {
    display: block;
}

.itemboxheader.double-line .itemName {
    min-height: 27px;
    margin-left: 43px;
    margin-right: 43px;
}

.itemboxheader .itemboxheader-left,
.itemboxheader .itemboxheader-right {
    position: absolute;
}

.itemboxheader .itemboxheader-left {
    top: 0px; 
    left: 0px;
}

.itemboxheader .itemboxheader-right {
    top: 0px; 
    right: 0px;
}

.itemboxheader.double-line .itemboxheader-left,
.itemboxheader.double-line .itemboxheader-right {
    display: block;
    width: 43px;
    height: 53px;
}

/* unique */
.itembox.unique {
    border-color: #af6025;
}

.itembox.unique .itemboxheader {
    background-image: url(icons/GGG/ItemHeaderUniqueSingleLineMiddle.png);
    color: #af6025;
}

.itembox.unique .itemboxheader.double-line {
    background-image: url(icons/GGG/ItemHeaderUniqueMiddle.png);
}

.itembox.unique .double-line .itemboxheader-left {
    background-image: url(icons/GGG/ItemHeaderUniqueLeft.png);
}


.itembox.unique .double-line .itemboxheader-right {
    background-image: url(icons/GGG/ItemHeaderUniqueRight.png);
}

/* rare */
.itembox.showcase, .itembox.rare {
    border-color: #ff7;
}

.itembox.rare .itemboxheader,
.itembox.showcase .itemboxheader {
    background-image: url(icons/GGG/ItemHeaderRareSingleLineMiddle.png);
    color: #ff7;
}

.itembox.rare .itemboxheader.double-line,
.itembox.showcase .itemboxheader.double-line {
    background-image: url(icons/GGG/ItemHeaderRareMiddle.png);
}

.itembox.rare .double-line .itemboxheader-left,
.itembox.showcase .double-line .itemboxheader-left {
    background-image: url(icons/GGG/ItemHeaderRareLeft.png);
}


.itembox.rare .double-line .itemboxheader-right,
.itembox.showcase .double-line .itemboxheader-right {
    background-image: url(icons/GGG/ItemHeaderRareRight.png);
}

/* magic */
.itembox.magic {
    border-color: #88f;
}

.itembox.magic .itemboxheader {
    background-image: url(icons/GGG/ItemHeaderMagicMiddle.png);
    color: #88f;
}

/* single to double line hack */
.itembox.magic .double-line {
    background-repeat: repeat-x;
    background-size: 46px auto;
}

.itembox.magic .double-line span {
    background-size: cover;
}

.itembox.magic .itemboxheader.double-line {
    background-image: url(icons/GGG/ItemHeaderMagicMiddle.png);
}

.itembox.magic .double-line .itemboxheader-left {
    background-image: url(icons/GGG/ItemHeaderMagicLeft.png);
}


.itembox.magic .double-line .itemboxheader-right {
    background-image: url(icons/GGG/ItemHeaderMagicRight.png);
}

/* normal */
.itembox.normal {
    border-color: #c8c8c8;
}

.itembox.normal .itemboxheader {
    background-image: url(icons/GGG/ItemHeaderWhiteMiddle.png);
    color: #c8c8c8;
}

/* single to double line hack */
.itembox.normal .double-line {
    background-repeat: repeat-x;
    background-size: 46px auto;
}

.itembox.normal .double-line span {
    background-size: cover;
}

.itembox.normal .itemboxheader.double-line {
    background-image: url(icons/GGG/ItemHeaderWhiteMiddle.png);
}

.itembox.normal .double-line .itemboxheader-left {
    background-image: url(icons/GGG/ItemHeaderWhiteLeft.png);
}


.itembox.normal .double-line .itemboxheader-right {
    background-image: url(icons/GGG/ItemHeaderWhiteRight.png);
}

.itembox .text-value {
    color: white;
}

.itembox-statsgroup, .itembox-stats {
    margin: 0 auto 5px;
    padding: 0 12px 7px;
}

.itembox-statsgroup {
    display: block;
}

.itembox-statsgroup ul {
    display: inline-block;
}

.itembox-statsgroup {
    background-image: url(icons/GGG/Hover_separator_normal.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.itembox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.itembox ul.mods .mod {
    margin-bottom: 5px;
}

.itembox ul.stats {
    display: block;
}

.text-corrupted {
    color: #d20000;
    text-transform: uppercase;
}